@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open Sans/OpenSans-Light_0.ttf');
}
@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway/sansation_light.ttf');
}
@font-face {
    font-family: Robotto-Bold;
    src: url('../fonts/Robotto/Roboto-Bold.ttf');
}
@font-face {
    font-family: Robotto-Thin;
    src: url('../fonts/Robotto/Roboto-Thin.ttf');
}
@font-face {
    font-family: Robotto-Black;
    src: url('../fonts/Robotto/Roboto-Black.ttf');
}
@font-face {
    font-family: Robotto-Light;
    src: url('../fonts/Robotto/Roboto-Light.ttf');
}
p, a {
	font-family: 'Open Sans';
}
h4, h3 {
	font-family: 'Robotto-Light';
}
h4 {
	font-size: 20px;
}
.pattern {
	background: url('../images/geo_pattern_light.png');
}
.margins {
	margin-top: 3em;
	margin-bottom: 2em;
}
.padding {
	padding: 5% 0; 
}
.color {
	color: #444;
}
.heading_large {
	font-size: 57px;
}
.auto-margin {
	margin-left: auto;
	margin-right: auto;
}
.left-separation {
	border-left: 1px solid #e6e6e6;
}
.right-separation {
	border-right: 2px solid #e6e6e6;
}
.color-blue {
	color: rgb(20,101,163);
}
.color-black {
	color: #000;
}
.color-text {
	color: #666;
}
.btn {
	border-radius: 25px !important;
	min-width: 80px;
}
.btn-default {
	background-color: rgba(255,255,255,.5);
}
.btn-default.focus,.btn-default:hover,.btn-default:active,.btn-default.active,.open > .dropdown-toggle.btn-default, .btn-primary {
  	background-color: #31bff1 !important;
  	color: #fff !important;
}
.btn-primary {
	border: none;
}
/* Landing Page */
.top_div h2 {
	font-family: 'Robotto-Black';
	font-weight: bold;
}
.top_div p {
	font-family: 'Robotto-Thin';
	font-size: 16px;
}
.intro-text {
	padding: 0 25% 2%;
}
.landing_footer {	
	margin-top: 10%;
}
.footer {
	background-color: #284146;
	min-height: 60px;
}
.footer ul {
	margin: 0;
}
.footer-links, .other_regions_link {
    list-style: none;
    text-decoration: none;
    padding: .25em 0
}
.footer-links {
    display: inline-block;
    padding: 1em 2em;
}
.footer-links a {
	color: #fff;
	line-height: 2.5em;
}
.white_bg {
	background-color: #fff;
}
/* Discovery page */
.other_regions .north_heading_margin {
	margin-left: 15px;
}
.other_regions ul {
	padding: 0;
}
.regions_row {
	min-height: 500px;
}
.famous_regions_div {
    height: 375px;
    min-height: 200px;
    margin-bottom: 12%;
} 
.swat {  
	background: url('../images/swat_district.png') no-repeat 50%;
	background-size: contain;
}
.swat:hover {
	background: url('../images/swat_district_hover_image.png') no-repeat 50%; 
    background-size: contain;
}
.naran {
	background: url('../images/naran.png') no-repeat 50%;
	background-size: contain;
}
.naran:hover {
	background: url('../images/naran-hover.png') no-repeat 50%; 
    background-size: contain;
}
.chitral {  
	background: url('../images/chitral.png') no-repeat 50%;
	background-size: contain;
}
.chitral:hover {
	background: url('../images/chitral-hover.png') no-repeat 50%; 
    background-size: contain;
}
.abottabad {  
	background: url('../images/abottabad.png') no-repeat 50%;
	background-size: contain;
}
.abottabad:hover {
	background: url('../images/abottabad-hover.png') no-repeat 50%; 
    background-size: contain;
}
.kalam {  
	background: url('../images/kalam.png') no-repeat 50%;
	background-size: contain;
}
.kalam:hover {
	background: url('../images/kalam.png') no-repeat 50%; 
    background-size: contain;
}
.zoom{
	transition: transform 0.5s ease-in-out;
	-webkit-transition: transform 0.5s ease-in-out;
}
.zoom:hover{
	transform: scale(1.1);
	cursor: pointer;
	z-index: 999;
}
.famous_regions_div h2, .famous_events_div h2{	
    width: 100%;   
    margin: auto;
    margin: auto;
    padding: .5em 0;
    font-family: 'Robotto-Thin';
}
.famous_regions_div:hover h2, .famous_events_div:hover h2 {
	background: url(../images/menu_swipe.png) no-repeat;
    color: #fff;
    background-size: cover;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 45px;
}
.famous_regions_div p {
	background-color: rgba(255,255,255,.9);
    width: 80%;
    border-radius: 10px;
    margin: auto;
    padding: 1em 1em 2em;
    display: none;  
    color: #000;
    font-size: smaller;
    font-weight: 600;
    font-style: italic;
    box-shadow: 0px 10px 20px #ccc;
}
.famous_regions_div a{
	display: none;
}
.famous_regions_div:hover a, .famous_regions_div:hover p{
	display: block;
}
.famous_regions_div .has-feedback {
	position: relative;
	top: 25%;
}
.famous_regions_div button {
    margin-top: -1em;
}
/*  Area details page */
.famous_events_div .has_top {
    position: absolute;
    bottom: 0%;
}
p.normal_details, .zoom:hover div.hover_details, img.image_normal, .zoom:hover img.image_hover {
	display: block;
}
div.hover_details, .zoom:hover p.normal_details, .zoom:hover img.image_normal, img.image_hover {
	display: none;
}
.hover_details p {
	padding: 5% 5% 0 5%;	
    color: #000;
    font-size: medium;
    font-weight: 600;
    font-style: italic;
}
.hover_details a {
    position: relative;
    bottom: -1em;
}
.famous_events_div {
	padding: 0;
	height: auto;
    margin: 0 auto 12%;
    border-radius: 30px !important;
    width: 90%;
}
.famous_events_div:hover {
	background-color: transparent;
}
.outer-wrapper{
	position: relative;
}
.outer-wrapper img{
	width: 100%;
}
.cover, .trekking_cover, .trekking2_cover, .site_seeing_cover, .paragliding_cover, .fishing_cover, .culture_cover {
	position: absolute;
	top: 0;
    opacity: .8;
	width: 100%;
	height: 100%;
	border-radius: 30px !important;
	transition: display 1s ease-in-out;
	-webkit-transition: display 1s ease-in-out;
	display: block;
}
.trekking_cover {
	background: url(../images/trekking.png) no-repeat 50% 25%;
}
.trekking2_cover {
	background: url(../images/trekking2.png) no-repeat 50% 25%;
}
.site_seeing_cover {
	background: url(../images/siteseeing2.png) no-repeat 50% 25%;
}
.paragliding_cover {
	background: url(../images/paraglide2.png) no-repeat 50% 25%;
}
.fishing_cover {
	background: url(../images/fishing2.png) no-repeat 50% 25%;
}
.culture_cover {
	background: url(../images/cult2.png) no-repeat 50% 25%;
}
.cover {	
	background-color: #f6f6f6;
}
.outer-wrapper:hover .cover, .outer-wrapper:hover .trekking_cover{
	display: none;
}
.full_width {
	width: 100%;
}
.full_height {
	height: 100%;
}
.has_wrapper {
    position: relative;
    top: 57%;
}
.hover_details button {
	padding: 3% 10%; 
}
.famous_events_div:hover h2 {
	margin-bottom: 0px;
}
.shadow {	
    box-shadow: 0px 10px 20px #ccc;
}
.radius {
	border-radius: 0px 0px 30px 30px;
}
.survival_text_wrapper  {
    width: 90%;
    margin: 12% auto;
}
.guide_link {
    font-family: Robotto-Bold;
    font-size: 16px;

}
a.guide_link:hover {
    text-decoration: none;    
}
.event_cost {
	color: #fff;
	background-color: red;
}
.left {
	float: left;
}






@media (max-width: 1200px) {
	.famous_regions_div {
	    height: 300px;
	    min-height: 200px;
	    margin-bottom: 15%;
	}
	.footer > .col-sm-8 {
		width: 100%;
		margin: auto;
	}
	.footer-links {
	    display: inline-block;
	    padding: 1em;
	} 
}
@media (max-width: 768px) {
	.famous_regions_div {
	    height: 245px;
	    min-height: 200px;
	    margin-bottom: 20%;
	}
	.famous_regions_div .has-feedback {
	    width: 100%;
	    margin: auto;
	    position: relative;
	    top: 12%;
	}
}
@media (max-width: 767px) {
	.intro-text {
		padding: 0 0 2%;
	}
	.left-separation {
		border-left: 0;
	}
	.right-separation {
		border-right: 0;
	}
	.small-screen-margin {
		margin-top: 6%;
	}
	.footer-links {
	    display: block;
	    padding: 0 2em;
	}
	.other_regions {
		text-align: center;
	}
	.footer ul {
	    padding: 0;
	}
}